@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}





// //pastes cotent inside
// @mixin respond-phone {
//     @media (max-width: 600px) {
//         @content
//     };
// }

//MEDIA QUERY MANAGER
/*
    0-600px: Phone
    600-900px: tablet portrait
    900-1200px: tablet landscape
    1200 - 1800: is normal styles
    1800px+ big desktop

    phone
    tab-port
    tab-lan
    big-desktop

    1em is 16px
    in media queries root element font sixe does not effect the em/rem measurments

    ORDER: base+typography -> layout -> page -> components
*/


@mixin  respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { //600px
            @content            
        };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { //900px
            @content
        };       
    }
    @if $breakpoint == tab-lan {
        @media (max-width: 75em) { //1200px
            @content
        };       
    }
    @if $breakpoint == big-desktop { //1800px
        @media (min-width: 112.5em) {
            @content
        };       
    }
}