/* Set all defaults for every element */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* ensure padding and border does not increase height and width of elements */ 
    box-sizing: inherit;   
}

html {
    /* Default browsers font size is 16px so 10/16 = 62.5% i.e. 10px */
    font-size: 62.5%; //1rem = 10px    

    //when using max width define big first then down!

    @include respond(tab-lan) {
        font-size: 56.25%; //1rem is 9px
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem is 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem is 12px
    }
} 

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    @include respond(tab-port) {
        padding: 0;   
    }
}

/* Projet wide fonts def */
body {   
    /* see catch all uses inhert so all items default to this under the <html> tag */
    box-sizing: border-box;
}